:root {
  --accent: #ffccf8; /* pink accent color */
  --background: color-mix(in srgb, var(--accent) 2%, #1D1E28 98%); /* background color; inherit shades of the accent */
  --accent-contrast-color: #821212; /* dark red contrast color for text on accent backgrounds */
  --color: white; /* text color, also some other text use the variable in color mixing */
  --border-color: rgba(255, 255, 255, .1); /* border color */
  /* code syntax */
  /* take a look at themes/re-terminal/assets/css/syntax.scss to understand in detail which color stands for */
  --syntax-func-color: color-mix(in srgb, var(--accent) 70%, #999 30%); 
  --syntax-var-color: color-mix(in srgb, var(--accent) 90%, transparent);
  --syntax-value-color: color-mix(in srgb, var(--accent), white);
  /* breakpoints */
  /* unfortunately, native CSS variables don't support media queries, so use SCSS vars instead */
  $phone: 684px;
  $tablet: 900px;
}